<div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
      <label>Source CCY:</label>
      <select name="fromCurrency" ngModel>
        <option value="USD">USD</option>
        <option value="GBP">GBP</option>
        <option value="INR">INR</option>
      </select>
  
      <label>Target CCY:</label>
      <select name="toCurrency" ngModel>
        <option value="USD">USD</option>
        <option value="GBP">GBP</option>
        <option value="INR">INR</option>
      </select>
  
      <label>Amount:</label>
      <input type="number" name="amount" ngModel>
  
      <button type="submit">Submit</button>
    </form>
  
    <div>
      <label>Result:</label>
      <p>{{convertedValue}}</p>
    </div>
  </div>
  